


@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    40% {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }
    65% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes toTransparent {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
