
a,
.about_shop [type="submit"]{ -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -moz-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    -o-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.season_and_collection .collection div [href="#catalogue"]:hover,
.photo_and_collection .collection article a:hover,
.about_shop a:hover,
.about_shop [type="submit"]:hover {
    color: rgb(0, 0, 0);
    outline: 0;
    box-shadow: 0 0 40px 40px white inset;
}
