/*  *  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}

/* htmlTags for font + text + etc.*/

strong {
    font-weight: 600 !important;
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

.text-alignLeft {
    text-align: left !important;
}

.text-alignCenter {
    text-align: center !important;
}




