@font-face {
    font-family: "Post No Bills Jaffna Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Post No Bills Jaffna Bold"),
        url("../fonts/post-no-bills-jaffna-cufonfonts-webfont/PostNoBillsJaffna-Bold.woff")
            format("woff");
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background: black;
    color: white;
    font-family: PT Sans;
    font-size: 12px;
    font-weight: 400;
}

a {
    color: white;
    text-decoration: none;
}

input[type="submit"],
button {
    border: none;
}

input[type="submit"]:hover,
button:hover {
    cursor: pointer;
}

header {
    color: #969696;
    background-color: black;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    > div {
        width: 58%;
        margin: auto;
        > div:nth-child(1) {
            float: left;
        }
    }

    [src="images/header/phone.svg"] {
        width: 13.36px;
        height: 13.33px;
        float: left;
        margin-right: 16.5px;
    }
    .numbers,
    .log_reg {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .numbers {
        width: 355px;
    }
    .log_reg {
        width: 130px;
        float: right;
    }
}

.porten_0 {
    background-color: #0f0f0f;
    overflow: hidden;
    height: 80px;
    h1 {
        font-family: "Post No Bills Jaffna Bold";
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
        float: left;

        position: relative;
        top: 16px;
    }
    a {
        font-family: PT Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-transform: uppercase;

        padding: 31px 20px;
    }
    a:hover {
        color: white;
        background: #1f1f1f;
    }
    > div {
        width: 58%;
        margin: auto;
    }

    > div > div {
        float: right;
        position: relative;
        left: 15px;
        div:nth-child(1) {
            float: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 80px;
            width: 453px;

            position: relative;
            left: 19px;
        }
        .basket_and_search {
            float: right;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 80px;
        }
    }
}

.porten_1 {
    background: url(../images/porten_1/bcg.png) center no-repeat;
    background-size: cover;
    height: 810px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    div {
        border: 4px solid #ffffff;
        padding: 89px 60px;
        padding-bottom: 111px;
        margin-bottom: 74px;
        h1 {
            font-family: "Post No Bills Jaffna Bold";
            font-size: 64px;
            font-weight: 700;
            background-clip: content-box;
        }
        h1::after {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            content: "";
            margin-top: -16px;
        }
        h2 {
            font-family: PT Sans;
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            position: relative;
            top: 5px;
        }
    }
    article {
        width: 726px;
        font-family: PT Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;

        position: relative;
        top: 7px;
    }
}

.season_and_collection {
    height: 730px;
    display: flex;
    flex-direction: row;

    .season {
        height: 730px;
        width: 54%;
        background-color: black;
        h1 {
            font-family: "Playfair Display", serif;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0em;
            text-align: center;
            margin-top: 95px;
        }
        hr {
            width: 120px;
            margin: auto;
            margin-top: 50px;
            position: relative;
            top: -6px;
        }
        .wrapper-flex {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            position: relative;
            left: 14px;
            bottom: 6px;
            .img {
                background: #191b1c;
                width: 260px;
                height: 325px;
                display: flex;
                align-items: center;
                img {
                    position: relative;
                    left: 20px;
                }
            }
            h2 {
                font-family: "Playfair Display", serif;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                margin-top: 25px;
            }
            h3 {
                font-family: "Playfair Display", serif;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                margin-top: 15px;
            }
            div:nth-of-type(1) {
                margin-right: 25px;
            }
            div:nth-of-type(3) {
                margin-left: 25px;
            }
        }
    }
    .collection {
        height: 730px;
        width: 46%;
        background: url(../images/collection/bcg.png) no-repeat;
        background-position: center center;
        background-size: cover;
        text-transform: uppercase;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 488px;
            h1 {
                font-family: "Playfair Display", serif;
                font-size: 36px;
                line-height: 42px;
                letter-spacing: 0em;
                text-align: center;
            }
            hr {
                width: 120px;
                margin-top: 21px;
            }
            [href="#catalogue"] {
                font-family: PT Sans;
                font-size: 18px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0.1em;
                text-align: center;
                margin-top: 28px;

                border: 1px solid #ffffff;
                padding: 12px 28px;
            }
        }
    }
}
.photo_and_collection {
    height: 600px;
    display: flex;
    flex-direction: row;

    .photo {
        width: 46%;
        height: 600px;
        background: url(../images/just_bcg/bcg.jpg) no-repeat;
        background-size: cover;
    }
    .collection {
        background: black;
        width: 54%;
        height: 600px;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 103px;
            h1 {
                font-family: Playfair Display;
                font-size: 36px;
                line-height: 42px;
                letter-spacing: 0em;
                text-align: center;
                text-transform: uppercase;
            }
            hr {
                width: 120px;
                margin-top: 33px;
            }
            p {
                width: 471px;
                font-family: PT Sans;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: center;
                margin-top: 40px;
            }

            a {
                font-family: "PT Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;

                border: 1px solid #ffffff;
                padding: 12px 28px;

                margin-top: 64px;
            }
        }
    }
}

.new_deliveries {
    background: black;
    overflow: hidden;
    h1 {
        text-align: center;
        margin-top: 120px;

        font-family: Playfair Display;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0em;
        text-transform: uppercase;
    }
    hr {
        width: 120px;
        margin: auto;
        position: relative;
        top: 45px;
    }
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 127px;
        .flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 57.5%;

            h2 {
                font-family: "Playfair Display", serif;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                margin-top: 25px;
            }
            h3 {
                font-family: "Playfair Display", serif;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                margin-top: 15px;
            }
            .img {
                background: #191b1c;
                width: 260px;
                height: 325px;
                display: flex;
                align-items: center;
                img {
                    position: relative;
                    left: 20px;
                }
            }
        }

        .flex:nth-last-of-type(1) {
            margin-top: 40px;
            margin-bottom: 150px;
        }
    }
}

.our_brands {
    background: #0f0f0f;
    overflow: hidden;
    height: 355px;
    h1 {
        font-family: Playfair Display;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        margin-top: 60px;
    }
    hr {
        width: 120px;
        margin: auto;
        margin-top: 43px;
    }
    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        margin-top: 38px;
        width: 57.5%;
    }
}

.about_shop {
    background: url(../images/about_shop/bcg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;

    height: 400px;
    > div {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 82px;
        h1 {
            font-family: Playfair Display;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            text-transform: uppercase;

            font-weight: 400;
        }
        p {
            font-family: PT Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 40px;
        }

        a,
        input[type="submit"] {
            padding: 10px 20px;
            background: black;
            color: #d0d0d0;

            font-family: PT Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }
        input[type="submit"] {
            letter-spacing: 0.03em;
            position: relative;
            right: 2px;
            top: 1px;
        }
        article {
            width: 350px;
            margin-right: 25px;

            position: relative;
            right: 4px;
        }

        nav {
            width: 300px;
            margin-right: 33px;

            position: relative;

            div {
                display: flex;
                flex-direction: row;
                [href="#браслеты"],
                [href="#ремни"],
                [href="#запонки"] {
                    margin-left: 20px;
                }
            }
            > div:nth-of-type(1) {
                margin-top: 40px;
            }
            > div:nth-of-type(2) {
                margin-top: 20px;
            }
        }

        form {
            width: 355px;
            margin-left: 38px;

            position: relative;
            left: 10px;

            input[type="text"] {
                background: rgba(255, 255, 255, 0.4);
                color: #d0d0d0;
                border: none;
                width: 210px;
                height: 42px;
                padding-left: 14px;

                margin-top: 38px;
            }
            input[type="text"]::placeholder {
                color: #d0d0d0;
            }
        }
    }
}

footer {
    background-color: #0f0f0f;
    height: 50px;
    > div {
        width: 57%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin: auto;
        div:nth-of-type(1) {
            font-family: PT Sans;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
        }
        div:nth-of-type(2) {
            font-family: PT Sans;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: right;
        }
    }
}

@media (max-width: 1700px) {
    .season_and_collection .season .wrapper-flex {
        left: 0.5%;
    }
    .season_and_collection .season .wrapper-flex .img {
        width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            position: inherit;
        }
    }
    .season_and_collection .season .wrapper-flex div:nth-of-type(1) {
        margin-right: 5px;
    }
    .season_and_collection .season .wrapper-flex div:nth-of-type(3) {
        margin-left: 5px;
    }
    .new_deliveries > div .flex,
    .our_brands > div {
        width: auto;
    }
}

@media (max-width: 1200px) {
    .porten_0 > div,
    header > div {
        width: 96%;
    }
    .season_and_collection .season .wrapper-flex > div:nth-of-type(1),
    .season_and_collection .season .wrapper-flex > div:nth-of-type(3) {
        display: none;
    }

    .new_deliveries > div {
        display: block;
        width: 90%;
        margin: auto;
    }
    .new_deliveries > div .flex {
        flex-direction: column;
        h2,
        h3 {
            text-align: center;
            margin-top: 5px;
        }
    }
    .new_deliveries > div .flex:nth-last-of-type(2) {
        float: left;
    }

    .new_deliveries > div .flex:nth-last-of-type(1) {
        align-items: flex-end;
        margin-bottom: 40px;
    }
    .new_deliveries > div .flex .img {
        margin-top: 15px;
    }
    .new_deliveries h1 {
        margin-top: 40px;
    }

    .our_brands {
        height: 620px;
        h1 {
            margin-top: 40px;
        }
        > div {
            margin-top: 20px;
        }
        hr {
            margin-top: 22px;
        }
    }
    .our_brands > div {
        flex-direction: column;
        align-items: center;
        [src="images/our_brands/cocofine_jewel.png"] {
            width: 300px;
        }
    }

    .about_shop {
        height: 630px;
        background: #777351;
        h1,
        p {
            text-align: center !important;
        }
    }
    .about_shop > div {
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }
    .about_shop > div p {
        margin-top: 15px;
    }
    .about_shop > div article {
        margin-right: 0;
        right: 0;
    }
    .about_shop > div nav {
        margin-right: 0;
        margin-top: 35px;
    }
    .about_shop > div nav > div:nth-of-type(1) {
        margin-top: 15px;
    }
    .about_shop > div form {
        margin-left: 0;
        left: 0;
        margin-top: 35px;
    }
    .about_shop > div form input[type="text"] {
        margin-top: 15px;
    }
    .about_shop > div form input[type="text"]::placeholder{
        color: black
    }
}

@media (max-width: 940px) {
    header .log_reg {
        float: none;
        margin: auto;
    }
    header [src="images/header/phone.svg"] {
        display: none;
    }

    .porten_0 {
        height: auto;
    }
    .porten_0 a {
        padding: 20px 20px;
    }

    .porten_0 > div {
        display: flex;
        flex-direction: column;
    }

    .porten_0 h1 {
        position: inherit;
        text-align: center;
    }
    .porten_0 > div > div {
        width: 100%;
        float: none;
        position: inherit;
    }

    .porten_0 > div > div div:nth-child(1) {
        float: none;
        height: auto;
        position: inherit;
        flex-direction: column;
        width: 100%;
    }

    .porten_0 > div > div .basket_and_search {
        float: none;
        height: auto;
        flex-direction: column;
    }

    .photo_and_collection .collection article p {
        width: 100%;
    }
}

@media (max-width: 745px) {
    .porten_1 article {
        width: auto;
    }
    .season_and_collection .season h1,
    .season_and_collection .collection div h1 {
        font-size: 20px;
    }
    .season_and_collection .season .wrapper-flex h2,
    .season_and_collection .season .wrapper-flex h3 {
        text-align: center;
    }
    .photo_and_collection .collection article {
        margin-top: 20px;
    }
    .photo_and_collection .collection article hr,
    .photo_and_collection .collection article p,
    .photo_and_collection .collection article a {
        margin-top: 15px;
    }
    .photo_and_collection .collection article h1 {
        font-size: 20px;
    }

    .new_deliveries > div .flex:nth-last-of-type(2) {
        align-items: center;
        float: none;
    }
    .new_deliveries > div .flex:nth-last-of-type(1) {
        align-items: center;
    }
}

@media (max-width: 380px) {
    .season_and_collection .season,
    .season_and_collection .collection {
        overflow: hidden;
    }
    .photo_and_collection .collection {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .photo_and_collection {
        display: block;
        height: auto;
    }

    .photo_and_collection .photo {
        display: none;
    }
    .new_deliveries h1 {
        font-size: 22px;
    }
    .about_shop {
        height: auto;
    }
    .about_shop > div article,
    .about_shop > div nav,
    .about_shop > div form {
        width: auto;
    }
    .about_shop > div form {
        display: flex;
flex-direction: column;
align-items: center;
    }
    .about_shop > div form input[type="text"],
    .about_shop > div input[type="submit"] {
        width: 94%;
        
    }
    .about_shop > div input[type="submit"] {
        right: 0;

    }



    
}
