/*  *  */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

body {
	overflow-x: hidden;
}


/* htmlTags for font + text + etc.*/

strong {
	font-weight: 600 !important;
	display: inline-block;
}

a {
	text-decoration: none;
	display: inline-block;
}

.text-alignLeft {
	text-align: left !important;
}

.text-alignCenter {
	text-align: center !important;
}

.font-size18px {
	font-size: 18px !important;
}


/* hover htmlTag + etc.*/

a:hover {
	filter: drop-shadow(0px 0px 9px black);
	background-color: black !important;
	color: #fff;
}

input[type="submit"] {
	color: white;
	background: rgb(255, 120, 0);
	border: 2px solid rgb(255, 120, 0) !important;
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	-moz-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	-o-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	text-transform: uppercase;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	cursor: pointer;
	color: rgb(255, 80, 0);
	outline: 0;
	box-shadow: 0 0 40px 40px white inset;
}


/* images */

.relativeImg {
	position: relative;
	left: 43.25px;
	bottom: 15px;
}


/* slider */

.slider {
	margin: auto;
	background: #fff;
	border-radius: 20px;
	padding: 20px;
}

.slider0 {
	width: 800px;
}

.slider1 {
	width: 980px;
}

.slider1 img {
	width: 300px;
}

.slider0 img {
	margin: 30px;
	float: left;
}

.slider0 article {
	padding: 40px;
}

.slider0 article h2 {
	font-weight: 400;
	margin-bottom: 3px;
}

.arrow {
	position: relative;
	bottom: 194px;
	background: grey;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	color: Gainsboro;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left,
.left1 {
	float: left;
}

.right,
.right1 {
	float: right;
}

.arrow:hover {
	cursor: pointer;
	background: black;
	border: 3px solid #fff;
	color: #fff;
}

.divSlick {
	position: relative;
	margin: 0 auto;
	user-select: none;
}

#divSlick0 {
	width: 950px;
}

#divSlick1 {
	width: 1050px;
}


/* main */

main {
	background: url(http://media.lpgenerator.ru/images/157195/fon1cekcii-compressor_DYZvWEH.jpg#size_2560x870) center/cover !important;
	height: 108vh;
	overflow: hidden;
}

main .div0 {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	position: relative;
	z-index: 4;
}

main .company {
	margin-left: 2px;
	position: relative;
	bottom: 4px;
	letter-spacing: 8px;
	font-size: 13px;
}

main .div0 div {
	margin-left: 14px;
}

main .div0 div span {
	font-size: 22px;
}

main .div1 {
	position: relative;
	bottom: 40px;
	right: 50px;
	float: right;
	z-index: 4;
}

main .div1 a {
	font-size: 2ch;
	color: DarkOrange;
	border-bottom: 2px dashed DarkOrange;
	padding-bottom: 3px;
	position: relative;
	left: 3px;
	-webkit-animation: swing 1.8s ease;
	animation: swing 1.8s ease infinite;
}

main article {
	margin-right: 230px;
	position: relative;
	bottom: 50px;
	float: center;
	text-align: right;
	font-size: 24px;
	border: 4px solid #a4d251;
	border-radius: 10px;
	padding: 45px 35px 140px 60px;
}

main article h1 {
	bottom: 28px;
	position: relative;
	z-index: 2;
	font-weight: 600;
}

main article a {
	z-index: 2;
	position: relative;
	top: 40px;
	margin-right: 150px;
	border: 3px solid #aaa;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	display: inline-block;
	color: black;
	font-size: 3ch;
	font-weight: 400;
}

main article a:hover {
	border: 3px solid #fff;
}

main article pre {
	font-size: 24px;
	position: relative;
	z-index: 2;
}

main img:nth-child(3) {
	position: absolute;
	right: 30%;
	top: 30%;
	z-index: 1;
}


/* sec0 */

.sec0 {
	overflow: hidden;
	height: 40vh;
	background: #a4d251;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.sec0 form {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.sec0 input {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin: 6PX;
	font-weight: 600;
}


/* sec1 */

.sec1 {
	height: minmax(140vh, auto);
	overflow: hidden;
}

.sec1 h1 {
	font-size: 4ch;
	margin-top: 70px;
}

.sec1 div {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec1 section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
	overflow: hidden;
}

.sec1 section article {
	border: 2px solid #a4d251;
	padding: 50px;
	border-radius: 5px;
	background: white;
}

.sec1 .ar1 {
	position: relative;
	height: 331px;
	width: 315px;
	left: 66px;
}

.sec1 .ar2 {
	position: relative;
	top: 40px;
	height: 291px;
	width: 382px;
}

.sec1 .ar3 {
	height: 291px;
	width: 382px;
}

.sec1 .ar4 {
	height: 331px;
	width: 315px;
}

.sec1 section p {
	margin-top: 30px;
}

.sec1 section img {
	position: relative;
	left: 160px;
	bottom: 7px;
	z-index: 1;
	filter: blur(2px);
}

.sec1 section img:hover {
	filter: drop-shadow(1px 1px 13px rgb(0, 255, 76));
}

.sec1 .border,
.sec1 .border1 {
	border: 2px solid #a4d251;
	border-radius: 8px;
	padding: 310px 360px;
	width: 0px;
	position: absolute;
	z-index: -1;
	margin-bottom: 200px;
}

.sec1 .border {
	transform: rotate(355deg)
}

.sec1 .border1 {
	transform: rotate(342deg);
}


/* sec2 */

.sec2 {
	height: 130vh;
	background: Gainsboro;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.sec2 h1 {
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 42px;
}

.sec2 h2 {
	padding: 10px;
}

.sec2 section {
	display: grid;
	grid-template-columns: repeat(2, 290px);
	grid-gap: 60px;
}

.sec3 {
	height: 100vh;
	overflow: hidden;
}

.sec3 article {
	position: relative;
	z-index: 0;
	font-size: 25px;
	border: 3px solid #a4d251;
	border-radius: 8px;
	width: 600px;
	padding: 50px;
	text-align: left;
	transform: translate(170px, 90px);
}

.sec3 .div0 {
	position: relative;
	z-index: 5;
}

.sec3 .div0 h1 {
	-webkit-animation: swing 1.8s ease;
	animation: swing 1.8s ease infinite;
}

.sec3 .div {
	margin-top: 30px;
}

.sec3 h1 {
	font-size: 37px;
}

.sec3 .p {
	margin-top: 30px;
	font-size: 17px;
}

.sec3 .grid {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	right: 13px;
	top: 12px
}


/* sec3  */

.sec3 .time {
	font-size: 3ch;
	color: #a4d251;
	border: 2px solid #a4d251;
	border-radius: 5px;
	padding: 6px;
	margin-left: 13px;
}

.sec3 .grid p {
	color: #a4d251;
	font-size: 13px;
	margin-top: 8px;
}

.sec3 .cupboard {
	z-index: 1;
	position: relative;
	margin-left: 530px;
	bottom: 200px;
	overflow: hidden;
}


/* .sec4 */

.sec4 {
	height: minmax(140vh, auto);
	overflow: hidden;
}

.sec4 .figure__hover-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	opacity: 0;
	background-size: cover;
	transition: opacity 1s;
}

.sec4 h1 {
	margin-top: 100px;
	font-size: 5ch;
}

.sec4 .div {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec4 section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
	overflow: hidden;
}

.sec4 section article {
	border: 3px solid rgba(146, 209, 79, 0.8);
	border-radius: 50px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.sec4 .ar1 {
	left: 135px;
	top: 111px;
}

.sec4 .ar1,
.sec4 .ar4 {
	height: 210px;
	width: 291px;
}

.sec4 .ar2,
.sec4 .ar3 {
	height: 321px;
	width: 426px;
}

.sec4 section p {
	margin-top: 30px;
}

.sec4 .border {
	border: 1px solid rgba(40, 45, 40, 0.5);
	border-radius: 8px;
	padding: 310px 360px;
	width: 0px;
	position: absolute;
	transform: rotate(335deg);
	z-index: -1;
	margin-bottom: 200px;
}

.sec4 section img {
	margin-bottom: 5px;
}


/* sec5 */

.sec5 {
	overflow: hidden;
	background: rgb(230, 230, 225);
	height: 110vh;
}

.sec5 h1 {
	font-size: 5ch;
	margin-top: 50px;
	margin-bottom: 50px
}

.sec5 .div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.sec5 .div section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.sec5 .div section div {
	width: 307px;
	height: 203px;
	border: 1px solid silver;
}

.sec5 .div section .div1 {
	background: url(https://media.lpgenerator.ru/images/157195/bolkartinka5-compressor.jpg#size_1121x745) center/cover no-repeat;
	border-radius: 20px 0 0 0;
}

.sec5 .div section .div2 {
	background: url(https://media.lpgenerator.ru/images/157195/bolkartinka4-compressor.jpg#size_1121x745) center/cover no-repeat;
}

.sec5 .div section .div3 {
	border-radius: 0 20px 0 0;
	background: url(https://media.lpgenerator.ru/images/157195/bolkartinka3-compressor.jpg#size_1121x745) center/cover no-repeat;
}

.sec5 .div section .div4 {
	border-radius: 0 0 0 20px;
	background: url(https://media.lpgenerator.ru/images/157195/bolkartinka2-compressor.jpg#size_1121x745) center/cover no-repeat;
}

.sec5 .div section .div5 {
	background: url(https://media.lpgenerator.ru/images/157195/bolkartinka1-compressor.jpg#size_1121x744) center/cover no-repeat;
}

.sec5 .div section .div6 {
	border-radius: 0 0 20px 0;
	background: url(https://media.lpgenerator.ru/images/157195/bolkartinka6-compressor.jpg#size_1121x745) center/cover no-repeat;
}

.sec5 .div section div:hover {
	transform: scale(1.2);
	border-radius: 0;
}


/* sec6 */

.sec6 {
	overflow: hidden;
	background: #a4d251;
	height: 80vh;
}

.sec6 h1 {
	margin-top: 70px;
	margin-bottom: 90px;
	font-size: 32px;
}

.sec6 section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.sec6 section div img {
	background: url(https://media.lpgenerator.ru/images/157195/kvadratikshema1.png#size_98x98) center no-repeat;
	padding: 30px;
}

.sec6 section>img {
	margin-top: 3em;
}


/* sec7 */

.sec7 {
	overflow: hidden;
	height: minmax(100vh, auto);
	background: Gainsboro;
}

.sec7 h1 {
	font-weight: 300;
	font-size: 40px;
	margin-top: 70px;
	margin-bottom: 30px;
}


/* sec8 */

.sec8 {
	overflow: hidden;
	height: minmax(100vh, auto);
}

.sec8 h1 {
	font-weight: 300;
	font-size: 40px;
	margin-top: 70px;
	margin-bottom: 30px;
}

.sec9 {
	overflow: hidden;
	height: 11vh;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.sec9 .div0 {
	display: flex;
	flex-direction: row;
}

.sec9 .p0 {
	margin-left: 2px;
	position: relative;
	bottom: 4px;
	letter-spacing: 8px;
	font-size: 13px;
}

.sec9 a {
	-webkit-animation: swing 1.8s ease;
	animation: swing 1.8s ease infinite;
}

.sec9 .div0 div {
	margin-left: 14px;
}

.sec9 .div0 div span {
	font-size: 21px;
}


/* footer */

footer {
	overflow: hidden;
	height: 10vh;
	background: rgb(230, 221, 230);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer div span {
	margin-left: 4px
}

@-webkit-keyframes swing {
	15% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	40% {
		-webkit-transform: translateX(-1px);
		transform: translateX(-1px);
	}
	65% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes toTransparent {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media (max-width: 1290px),
(max-height: 716px) {
	/* slider */
	#divSlick0 {
		width: auto;
	}
	main {
		height: 120vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	main .div0 {
		margin-top: 80px;
		flex-direction: column;
	}
	main .div1 {
		margin-top: 25px;
		bottom: 0;
		right: 0;
	}
	main article {
		margin-right: 0;
		bottom: 20px;
		float: none;
		text-align: center;
		font-size: 20px;
		border: none;
	}
	main article pre {
		font-size: 18px;
	}
	main img:nth-child(3) {
		display: none;
	}
	main article a {
		z-index: 2;
		position: static;
		margin-top: 50px;
		margin-right: 0;
		font-size: 2ch;
	}
	/* sec0 */
	.sec0 {
		overflow: hidden;
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: space-between;
	}
	.sec0 form {
		flex-direction: column;
	}
	/* sec4 */
	.sec4 {
		overflow: hidden;
	}
	.sec4 h1 {
		font-size: 4ch;
	}
	.sec4 h2 {
		font-size: 16px;
	}
	.sec4 .ar1 {
		height: 100px;
		width: 140px;
		left: 70px;
		top: 55px;
	}
	.sec4 .ar2 {
		height: 156px;
		width: 210px;
	}
	.sec4 .ar3 {
		height: 156px;
		width: 210px;
	}
	.sec4 .ar4 {
		height: 100px;
		width: 140px;
	}
	.sec4 section img {
		width: 33px;
	}
	/* sec5 */
	.sec5 {
		height: auto;
	}
	.sec5 .div section div {
		width: 150px;
		height: 100px;
	}
}

@media (max-width: 850px) {
	.sec0 div {
		margin: 10px;
	}
	/* sec1 */
	.sec1 section img {
		left: 108px;
		top: 49px
	}
	.sec1 h2 {
		font-size: 18px;
	}
	.sec1 section article {
		padding: 20px;
		margin-top: 5px;
	}
	.sec1 .ar1,
	.sec1 .ar2 {
		height: 420px;
		width: 213px;
		left: 1px;
		top: 1px;
		right: 1px;
		bottom: 1px;
	}
	.sec1 .ar3,
	.sec1 .ar4 {
		height: 420px;
		width: 215px;
		left: 1px;
		top: 1px;
		right: 1px;
		bottom: 1px;
	}
	.sec6 {
		height: auto;
	}
	.sec6 section {
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
	}
	.sec6 h1 {
		margin-top: 30px;
		margin-bottom: 40px;
	}
}

@media (max-width: 660px) {
	.sec2 section {
		grid-template-columns: repeat(2, 280px);
		grid-gap: 30px;
	}
	.sec3 article {
		font-size: 16px;
		transform: translate(20px, 70px);
	}
	.sec3 h1 {
		font-size: 22px;
	}
	.sec9 {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 25vh;
	}
	.sec9 .div0 {
		position: relative;
		right: 20px;
	}
}

@media (max-width: 610px) {
	.sec2 {
		height: auto;
	}
	.sec2 section {
		display: flex;
		flex-direction: column;
	}
	.sec2 section article {
		margin-bottom: 20px;
	}
}

@media (max-width: 520px) {
	.sec3 {
		height: 70vh;
	}
	.cupboard {
		display: none;
	}
	/* sec4 */
	.sec4 .ar2 {
		display: none;
	}
}

@media (max-width: 490px) {
	.sec5 .div section div {
		width: 100px;
		height: 90px;
	}
	section:is(.sec4, .sec1) h1 {
		font-size: 3ch !important;
	}
	section:-webkit-any(.sec4, .sec1) h1 {
		font-size: 3ch !important;
	}
	section:-moz-any(.sec4, .sec1) h1 {
		font-size: 3ch !important;
	}
}

@media (max-width: 456px) {
	.sec1 section img {
		display: none;
	}
	.sec1 h2 {
		font-size: 18px;
	}
	.sec1 section {
		display: flex;
		flex-direction: column;
	}
	footer {
		height: 20vh;
		flex-direction: column;
	}
	.sec4 .ar1 {
		left: 0;
		top: 0;
	}
}

@media (max-width: 398px) {
	.sec3 article {
		padding: 30px 10px;
		width: 500px;
	}
	.sec3 h1 {
		font-size: 18px
	}
}

@media (max-width: 350px) {
	.sec5 h1 {
		margin-top: 40px;
		margin-bottom: 30px;
		font-size: 3ch;
	}
	.sec5 .div {
		margin: 20px 0;
	}
	.sec5 .div section div {
		width: 75px;
		height: 75px;
	}
}


/* media for slides */

@media (max-width: 1010px) {
	#divSlick,
	#divSlick1 {
		position: relative;
		margin: 0 auto;
		user-select: none;
	}
	#divSlick {
		width: 530px;
	}
	#divSlick1 {
		width: 600px;
	}
	.slider0 {
		width: 460px;
	}
	.slider1 img {
		width: 140px;
	}
	.slider1 {
		width: 500px;
	}
	.left1 {
		bottom: 100px;
	}
	.right1 {
		bottom: 100px;
	}
}

@media (max-width: 643px) {
	.slider0 img {
		width: 120px;
	}
	#divSlick {
		position: relative;
		width: 390px;
		margin: 0 auto;
		user-select: none;
	}
	.slider0 {
		width: 300px;
		padding: 0;
	}
	.slider0 article {
		padding: 10px;
	}
	.slider1 img {
		width: 100px;
	}
	#divSlick1 {
		position: relative;
		width: 410px;
		margin: 0 auto;
		user-select: none;
	}
	.slider1 {
		width: 360px;
	}
	.left1 {
		right: 5px;
	}
	.sec7 article {
		clear: both;
	}
	.arrow {
		display: none;
	}
}
